body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pd-15{
  padding: 15px !important;
}

.mg-b-10{
  margin-bottom: 10px !important;
}

.mg-t-10{
  margin-top: 10px !important;
}

.pd-t-5{
  padding-top: 5px !important;
}

.mg-l-5{
  margin-left: 5px !important;
}

.w-100{
  width: 100%;
}

.modal-xxl{
  max-width: 1400px;
}

.border-nav{
  border-bottom: 1px solid #4b545c;
}

@media only screen and (max-width: 767px) {
  .mg-b-5{
    margin-bottom: 5px !important;
  }
}
